.root {
	position: relative;
}
.input {
	border: 1px solid rgba(22, 3, 3, 0.1);
	padding: 8px 15px;
	width: 300px;
	border-radius: 12px;
	font-size: 16px;
	padding-left: 42px;
	&:focus {
		border: 1px solid rgba(22, 3, 3, 0.3)
	}
}

.icon {
	width: 30px;
	height: 30px;
	opacity: 0.3;
	position: absolute;
	border-top: 15px;
	left: 9px;
	top: 5px;
	&:hover{
		cursor: pointer;
		opacity: 0.7;
	}
}
.clearIcon {
	width: 24px;
	height: 30px;
	opacity: 0.3;
	right: 10px;
	position: absolute;
	bottom: 5px;
	
	&:hover{
		cursor: pointer;
		opacity: 0.7;
	}
}